.container {
  width: 390px;
  height: 100dvh;
  margin: auto;
  background-color: #000;
}

:root {
  /* spacing */
  --gutter: 20px;
  --padding: 16px;
  --padding-sm: 10px;

  /* fontsize */
  --heading: 1.6rem;
  --body: 1.4rem;

  /* color */
  --blue: #1fa1ff;
}
