.highlights {
    display: flex;
    gap: var(--padding);
    overflow-x: scroll;
    overflow-y: hidden;
    padding-inline: var(--gutter);
}

.highlights__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--body);
    gap: 6px;
}

.highlights__item-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    padding: 2px;
}

.highlights__item-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}