footer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.navBar {
    color: white;
    padding: var(--padding);
    font-weight: bold;
    opacity: 0.5;
}

.navBar--selected {
    color: white;
    opacity: 1;
}