.userInfo {
    display: flex;
    flex-direction: column;
    font-size: var(--body);
    gap: var(--padding);
    padding: var(--padding) var(--gutter);
}

.userInfo__category {
    opacity: 0.5;
    margin-block: 6px;
}

.userInfo__follow {
    color: white;
    background-color: var(--blue);
    padding-block: var(--padding-sm);
    border-radius: 4px;
}