.highlights {
  display: flex;
  gap: var(--padding);
  overflow-x: scroll;
  overflow-y: hidden;
  padding-inline: var(--gutter);
}

.highlights__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-size: var(--body);
}

.highlights__item-image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--gray);
  padding: 2px;
}

.highlights__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
