.posts__tabBar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: var(--body);
}
.posts__tab {
    padding: var(--padding);
    text-align: center;
}

.posts__tab--selected {
    border-bottom: 1px solid white;
}

.posts__contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}

.posts__photo {
    aspect-ratio: 1/1;
}

.posts__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}